<?php

return [
    'settings' => [

        // set to false in production
        'displayErrorDetails' => true,

        // Allow the web server to send the content-length header
        'addContentLengthHeader' => false,

        // Database settings
        'database' => [
            'socket' => '/cloudsql/project:region:instance',
            'name' => '',
            'charset' => 'utf8mb4',
            'user' => '',
            'password' => '',
        ],

        // Available buckets
        'availableBuckets' => [
            'default' => 'panmedia-images.appspot.com',
            'panread' => 'panread-images',
        ],
    ],
];
