<?php

return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        // Monolog settings
        'logger' => [
            'name' => 'simple-gcp-image-server',
            'path' => __DIR__ . '/../logs/' . date('Ymd') . '.log',
            'level' => \Monolog\Logger::DEBUG,
            'timezone' => 'Asia/Taipei',
        ],

        // Database settings
        'database' => [
            'socket' => '/cloudsql/project:region:instance',
            'name' => '',
            'charset' => 'utf8mb4',
            'user' => '',
            'password' => '',
        ],
    ],
];
